.dynamicMenuTrigger {
	cursor: pointer;
	position: relative;
}

.dynamicMenu {
	display: none;
	background: var(--MENU_BACKGROUND_COLOR);
	position: absolute;
	min-width: 100%;
	text-align: left;
	white-space: nowrap;
	top: 100%;
	left: 0;
}

.dynamicMenuItem {
	display: block;
	padding: 4px 10px 5px 10px;
	border-top: solid var(--BORDER_COLOR) 1px;
}

.dynamicMenuTrigger a {
	text-decoration: inherit;
}
