#footer {
	height: 40px;
	background: var(--BANNER_BACKGROUND_COLOR);
	overflow: visible;
}

#footer>* {
	font-size: var(--MAIN_FONT_SIZE);
	width: 50%;
	height: 100%;
}

#leftFooter form {
	margin: 4px;
	width: calc(100% - 2*4px);
	height: calc(100% - 2*4px);
}

#leftFooter textarea {
	background: rgba(0, 0, 0, 0.15);
	padding: 0;
	margin: 0;
	border: 0;
	resize: none;
	height: 100%;
	width: 100%;
}

#rightFooter {
	text-align: right;
}
