.formErrors {
	color: red;
}

form input[type="text"]  {
	background: var(--BACKGROUND_COLOR);
	color: var(--FOREGROUND_COLOR);
}

form input[type="password"]  {
	background: var(--BACKGROUND_COLOR);
	color: var(--FOREGROUND_COLOR);
}
