#header {
	height: 41px;
	background: var(--BANNER_BACKGROUND_COLOR);
	overflow: visible;
}

#header>* {
	font-size: var(--MAIN_FONT_SIZE);
}

#header a {
	text-decoration: inherit;
}

#header #siteNameHeader {
	color: var(--HIGHLIGHTING_COLOR);
	font-weight: bold;
	font-size: 23px;
	width: 206px;
	font-family: Copperplate Gothic;
}

#header #pageTitleHeader {
	width: 225px;
	font-size: 21px;
}

#header #pageTitleHeader span {
	padding-bottom: 3px;/* because... why not? */
}

#header #rightHeader {
	text-align: right;
  	flex-direction: row-reverse;
	width: calc(100% - 206px - 225px);
}

#header #rightHeader .headerItem {
	border-left: solid var(--BORDER_COLOR) 1px;
	padding-left: 10px;
	padding-right: 10px;
}

#header #rightHeader .dynamicMenu {
	right: 0;
	left: auto;
}

#header #rightHeader .flag {
	max-height: 10px;
}