html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	min-width: 920px;
	min-height: 400px;
	background: var(--BACKGROUND_COLOR);
	color: var(--FOREGROUND_COLOR);
	font-size: var(--MAIN_FONT_SIZE);
	font-family: var(--MAIN_FONT_FAMILY);
	text-rendering: optimizeLegibility;
}

a {
	color: inherit;
}

p:first-child {
	margin-top: 0px;
}

p:last-child {
	margin-bottom: 0;
}

h2:first-child {
	margin-top: 0;
}

h2:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
}

textarea {
	resize: none;
}

*::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background-color: black;
}

*::-webkit-scrollbar-corner {
	background-color: black;
}

*::-webkit-scrollbar-thumb {
	background: rgb(55, 55, 55);
}

tr+tr td {
	border-top: solid var(--BORDER_COLOR) 1px;
}

td+td {
	border-left: solid var(--BORDER_COLOR) 1px;
}

.dynatable-per-page {
	display: inline-block;
	float: none;
	width: 49%;
	text-align: right;
}

.dynatable-search {
	display: inline-block;
	float: none;
	margin: 0;
	width: 49%;
}

.dynatable-active-page {
	background-color: var(--HIGHLIGHTING_COLOR);
}
