.tileContainer {
	font-size: 0;
	text-align: center;
}

.tile {
	vertical-align: top;
	display: inline-block;
	text-align: left;
	font-size: var(--MAIN_FONT_SIZE);
}

.borderedTile {
	vertical-align: top;
	display: inline-block;
	text-align: left;
	font-size: var(--MAIN_FONT_SIZE);
	background: var(--BACKGROUND_COLOR);
}

.topTileBorderAdder {
	vertical-align: top;
	display: inline-block;
	padding: 2px 0px 0px 0px;
	background-image: linear-gradient(
		to right,
		rgb(37, 37, 37),
		var(--BACKGROUND_COLOR),
		var(--BACKGROUND_COLOR)
	);
}

.rightTileBorderAdder {
	vertical-align: top;
	display: inline-block;
	padding: 0px 2px 0px 0px;
	background-image: linear-gradient(
		to bottom,
		var(--BACKGROUND_COLOR),
		var(--BACKGROUND_COLOR),
		rgb(37, 37, 37)
	);
}

.bottomTileBorderAdder {
	vertical-align: top;
	display: inline-block;
	padding: 0px 0px 2px 0px;
	background-image: linear-gradient(
		to right,
		var(--BACKGROUND_COLOR),
		var(--BACKGROUND_COLOR),
		rgb(37, 37, 37)
	);
}

.leftTileBorderAdder {
	vertical-align: top;
	display: inline-block;
	padding: 0px 0px 0px 2px;
	background-image: linear-gradient(
		to bottom,
		rgb(37, 37, 37),
		var(--BACKGROUND_COLOR),
		var(--BACKGROUND_COLOR)
	);
}
